absl-py==2.2.1
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
immutabledict==4.2.1
influxdb==5.3.1
joblib==1.5.1
matplotlib==3.9.1
mypy==1.15.0
mypy-extensions==1.0.0
numpy==2.3.1
ortools==9.12.4544
ortools-stubs==8.0.0
pandas==2.3.1
protobuf==5.29.4
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
scikit-learn==1.7.1
seaborn==0.13.2
six==1.17.0
types-requests==2.32.0.20250328
typing_extensions==4.13.1
tzdata==2025.2
urllib3==2.3.0
